<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
    <div th:replace="fragments/bootstrap.html :: bootstrap"></div>
</head>
<body>

    <div th:insert="fragments/header.html :: header"> </div>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${allCustomer}">
                <td th:text="${customer.id}" />
                <td th:text="${customer.firstName}" />
                <td th:text="${customer.lastName}" />
                <td>
                    <a th:href="@{'/customer/update?id=' + ${customer.id}}" class="btn btn-primary">Update</a>
                    <a th:href="@{'/customer/delete?id=' + ${customer.id}}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>