<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Favorite Movies</title>
    <div th:replace="fragments/bootstrap.html :: bootstrap"></div>
</head>
<body>

<div th:insert="fragments/header_movie.html :: header_movie"> </div>

<div class="bg-dark">
    <br><br>
    <form method="GET" th:action="@{/movie/favorite}">
        <input type="text" name="title" placeholder="Search Favorite Movie Title" th:value="${lastSearch}"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
</div>

<table th:if="${not #lists.isEmpty(listMovie)}" class="table table-dark table-hover table-bordered">
    <thead>
    <tr>
        <th>
            Judul
        </th>
        <th>
            Tahun
        </th>
        <th>
            Jenis
        </th>
        <th>
            Poster
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie: ${listMovie}">
        <td th:text="${movie.title}" />
        <td th:text="${movie.year}" />
        <td th:text="${movie.type}" />
        <td><img th:src="@{''+${movie.imageUrl}}" width="40" height="60"/></td>
        <td>
            <a th:href="@{'/movie/removeFavorite?id=' + ${movie.id}}" class="btn btn-danger">Remove</a>
        </td>
    </tr>
    </tbody>
</table>
<h3 th:if="${#lists.isEmpty(listMovie)}"></h3>
</body>
</html>